{% extends "base.html.j2" %}

{%block title%}Aminokyseliny{%endblock%}

{% block obsah %}



<h1>Aminokyseliny: </h1>

<p>Zásobování organizmu dokonalými aminokyselinami je z 
hlediska optimálního růstu a dokonalé anabolizace naprosto 
prioritní záležitostí. Vyváženost jednotlivých aminokyselin je 
velmi důležitá. U většiny kvalitních přípravků se jedná se o speciální 
směs esenciálních a neesenciálních aminokyselin s velmi vysokou biologickou 
hodnotou a schopností optimální syntézy na svalovou tkáň. Stav pozitivní dusíkové bilance 
vylučuje odbourávání tělesných bílkovin. Bílkovinový deficit totiž představuje pro svalovou 
tkáň největší nebezpečí. Používání bílkovinových preparátů ve formě aminokyselin nebo kvalitních
 koncetrovaných proteinových přípravků je tedy naprosto nezbytnou součástí tréninkového procesu 
 každého sportovce.
 </p>

 <h3>Esenciální aminokyseliny</h3>

<p>Jsou to L-valin, L-leucin, L-isoleucin, L-lysin, L-methionin, L-threonin, L-phenylalanin a
 L-tryptofan. K tomu jsou ještě pro děti esenciální L-histidin a L-arginin. Druhý jmenovaný 
 je jedna z nejdůležitějších aminokyselin ( zejména pro sportovce). Je důležitý pro svalový 
 růst (tím, že ovlivňuje růstové hormony) a chrání svaly před rozpadem (podobně jako lysin a 
 leucin). Tryptofan je výchozí látkou pro přenašeč serotonin, který uklidňuje, navozuje příjemné 
 pocity a používá se k léčbě nespavosti, stresu, úzkosti a deprese. Threonin působí proti ukládání
  tuku v játrech. Dále jsou důležité nejen pro svaly, nýbrž i pro tvorbu pojiv (kostí, vazů a 
  chrupavek), některých mozkových přenašečů atd. Pokud se zmíníme o BCAA jsou to tzv. rozvětvené 
  aminokyseliny (L-valin, L-leucin L-isoleucin). Ty se podílejí především na ochraně svalové hmoty
   před rozpadem.
</p>

<h3>Neesenciální aminokyseliny</h3>

<p>
Glutamin, cystein a glycin spolu tvoří tripeptid glutathion, což je jeden z nejúčinnějších 
antioxidantů v těle. Glutamin je nejčastěji se vyskytující se aminokyselina ve svalové tkáni, 
proto je na ni při růstu svalové hmoty lidským tělem kladena nejvyšší potřeba. Aminokyselina 
Glutamin je rovněž nezbytná při svalovém stresu. Trvalý přísun glutaminu předchází poškozování
 – devastaci svalstva, případné katabolizaci a podporuje produkci růstového hormonu. Zcela zabraňuje
  destrukci svalové hmoty. Patří do skupiny aminokyselin, které významně zvyšují přirozenou hladinu 
  hormonů, které ovlivňují anabolické (růstové) procesy ve svalech. Už 2 g glutaminu dokáží tuto 
  hladinu zvýšit až na čtyřnásobek. Glycin je součástí krevního barviva hemoglobinu. Phenylalanin 
  je prekurzorem pro tyrosin. Ten má podobné účinky jako tryptofan (psychická kondice) a navíc je 
  základem pro hormony štítné žlázy. Taurin je druhá nejčastěji se vyskytující aminokyselina ve 
  svalové tkáni. Vzniká metabolismem cysteinu a methioninu. Patří mezi stimulační látky, které 
  podporují činnost nervové soustavy a tím zlepšuje fyzickou i psychickou výkonnost. Spolupracuje 
  také při tvorbě žluči a vstřebávání tuků.
</p>










{% endblock obsah %}

