{% extends "base.html.j2" %}

{%block title%}Anabolizatory{%endblock%}

{% block obsah %}

<h1>Anabolizátory</h1>

<p>
Anabolizátory jsou nejsilnější, nejbezpečnější a legálně dostupné anabolické (růstové) látky.
 Anabolizátory v podobě výživových doplňků zabraňují katabolismu ( odbourávání svalových buněk),
  podporují růst čisté svalové hmoty, zlepšují výkon na tréninku, napumpování svalstva, podporují
   imunitní systém, snižují bolest svalů. Anabolizátory stimulují přirozenou tvorbu testosteronu,
    čímž výrazně ovlivňují sílu a výbušnost při tréninku, ale mohou i pozitivně ovlivňovat libido.
</p>

{% endblock obsah %}

