{% extends "base.html.j2" %}

{%block title%}Protein{%endblock%}

{% block obsah %}

<h1> Protein </h1>

<p>Aby svaly rostly, musí se tělo dostat do anabolického stavu, v
 němž se tvoří více bílkovin, než se jich rozpadne. Je-li tomu naopak, vznikne katabolizmus.
Kdy brát proteiny? Proč a kolik? Bílkovinná strava je vydatným zdrojem aminokyselin, enzymů, 
hormonů a dalších důležitých sloučenin, které jsou nezbytné pro správný průběh funkcí lidského 
těla. Ze živin zajímají kulturisty hlavně bílkoviny, protože regenerují svalovou hmotu a chrání 
ji před rozpadem, který je důsledkem zvýšené námahy. Jsou nejen klíčem ke svalovému růstu, ale 
současně podporují obranyschopnost organizmu a činnost červených krvinek.
</p>

<p>
Velmi zhruba řečeno, RDA průměrného člověka odpovídá rovnováze mezi tvorbou a úbytkem proteinů.
 U sportovců však musí být RDA vyšší, aby si udrželi svaly, z nichž pochází jejich sportovní výkon.
  A u kulturistů ještě vyšší, aby jim svaly rostly. Svalové bílkoviny se tvoří z aminokyselin, které 
  jsou jejich stavebními jednotkami. Svalová námaha na jedné straně znamená stimulaci k 
  růstu svalstva, na straně druhé impuls k jeho odbourávání. V prostředí aminokyselin reaguje sval
   na stimulační podněty celkovým růstem, který výrazně převládá nad odbouráváním svalových bílkovin.
Kolik bílkovin tedy kulturista vlastně potřebuje? Podle výzkumů je kulturistickým minimem dvojnásobek
 RDA pro průměrného člověka. Peter W.R. Lemon z Weiderova výzkumného týmu, který pracuje na 
 University of Western Ontario (Kanada), doporučuje kulturistům dávkovat 1,46-1,54 g bílkovin/kg 
 tělesné hmotnosti. Tato hodnota by jim měla zaručit, že syntéza proteinů bude převládat nad jejich
  rozpadem. S tímto dávkováním byste měli začít a potom pomalu zkoušet, co to udělá, když přijímané
   množství postupně zvyšujete. Protože obsah bílkovin v potravinách není stále stejný a oproti
    tabulkovým hodnotám kolísá, můžete tento startovací interval upravit na 1,4-1,7 g/kg.
</p>

{% endblock obsah %}

